@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-[#f8f9fa] p-3 rounded-md ring-secondary-200 text-sm text-secondary-800 hover:ring-1 focus:outline-none active:ring-secondary-300 hover:shadow-md;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }
}

@layer base {
  .home .logo-container {
    position: relative;
    width: 40vw;
    height: 80px;
    margin: 0 auto;
  }
  .header .logo {
    max-width: 240px;
  }
  body {
    @apply bg-secondary-100 text-secondary-700;
  }
  a {
    @apply text-primary-500;
  }
  p {
    /* @apply text-primary-900; */
  }
  input[type="text"] {
/*    background-color: #335F28;*/
  }
}