@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex justify-center items-center bg-secondary-200 p-3 px-4 transition ease-in-out rounded-md text-sm text-secondary-800 hover:ring-0 focus:outline-none enabled:hover:shadow-md enabled:hover:bg-primary-400 enabled:active:bg-primary-500;
  }
  .btn {
    @apply bg-primary-500 p-3 px-4 transition ease-in-out rounded-md text-sm text-primary-800 hover:ring-0 focus:outline-none enabled:hover:shadow-md enabled:hover:bg-primary-600 enabled:active:bg-primary-500;
  }
  .btn .icon {
    @apply h-4
  }
  .btn .icon.left {
    @apply mr-2 -ml-1
  }
  .btn .icon.right {
    @apply ml-2 -mr-1
  }
  
  .link {
    @apply hover:underline cursor-pointer;
  }
}

@layer base {
  .home .logo-container {
    position: relative;
    width: 50vw;
    min-height: 72px;
    margin: 0 auto;
  }
  .header {
    z-index: 5;
  }
  .header .logo-container {
    position: relative;
    width: 160px;
    min-height: 60px;
    margin: 0 auto;
  }
  .result {
    position: relative;
    @apply py-3 px-6 rounded max-sm:bg-white ring-secondary-200 hover:ring-1
  }
  .text-caption {
    @apply text-[.75rem]
  }
  body {
    @apply bg-secondary-100 text-secondary-700;
  }
  a {
    @apply text-primary-600;
  }
  p {
    /* @apply text-primary-900; */
  }
  input[type="text"] {
/*    background-color: #335F28;*/
  }
}